body {
    background-color: rgb(217, 217, 217);
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 20pt;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 15pt;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 20pt;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 15pt;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;

}

.outbursts a:visited {
    font-family: 'Courier New', Courier, monospace;
    color: #FF4400;
    text-decoration: none; 
    font-size: 20pt;
    text-align: left; 
    padding-left: 30px;
  }

  .outbursts {
    font-family: 'Courier New', Courier, monospace;
    color: #FF4400;
    text-decoration: none; 
    font-size: 20pt;
    text-align: left; 
    padding-left: 30px;
  }

  .news {
    background-color: rgb(192, 192, 192);
    padding: 10px;
  }

  .bg-image {
    background-image: url('N/A maybe later tho?');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .growthimg {
    padding-left: 10%;
    padding-right: 10%;
  }