body {
    background-color: white;
}

h1 {
  font-family: "Jost", sans-serif;
    color: black;
    font-size: 75px;
    text-align: left;
    margin-left: 80px;
    margin-bottom: 0;
}

p {
  font-family: "Jost", sans-serif;
    color: black;
    font-size: 15pt;
    text-align: left;
}

.growth {
  background-color: #D9CEBE;
  max-width: 800px;
  padding: 20px;
  margin: 20px 20px;
  font-family: "Jost", sans-serif;
  color: black;
  font-size: 15pt;
  line-height: 130%;
  text-align: left;
}

.textblockleft {
margin-left: 20px;
}

.textblockright {
  margin-left: 20px;
}

  .growthimg {
    padding-left: 10%;
    padding-right: 10%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 20px;
  }

  .floatimgright {
    float: right;
}

.floatimgleft {
  float: left;
}

img {
  padding: 10px;
  margin: 10px;
}

    .footertreemarg {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
      max-width: 800px;
    }
    
    @media (max-width:768px) {
 p {
  font-size: 12pt;
 }
    }

@media (min-width:1500px) {

      .imgshrinkright {
width: 1000px;
margin-right: 40px;
margin-left: 40px;
      }

.imgshrinkleft {
width: 1000px;
margin-left: 40px;
margin-right: 40px;
      }
        
.textblockleft {
 margin-left: 40px;
margin-right: 200px;
      }

.textblockright {
  margin-left: 40px;
  margin-right: 200px;
        }

    }